/.metadata
/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/.metadata/.plugins/org.eclipse.swt/EBWebView/Default/History
/.metadata/.plugins/org.eclipse.swt/EBWebView/Default/History-journal
/.metadata/.plugins/org.eclipse.swt/EBWebView/Default/Preferences